.wp-block-image.is-style-hand-drawn img {
  border: 2px solid currentColor;
  overflow: hidden;
  box-shadow: 0 4px  10px 0 rgba( 0, 0, 0, 0.3 );
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
}
.wp-block-image.is-style-round5 img {
  border: 1px solid #E0DEDE;
  overflow: hidden;
  border-radius: 5px !important;
}
.wp-block-image.is-style-round10 img {
  border: 1px solid #E0DEDE;
  overflow: hidden;
  border-radius: 10px !important;
}
.wp-block-image.is-style-opacity img {
  opacity: 0.6;
}
